/* Place your CSS styles in this file */

body {
  background-image: url("background.png")
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-size: cover;

}

nav {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid white;
}

nav .logo {
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  color: white;
  padding: 0 50px;
  text-transform: uppercase;
}

nav ul { 
float: right;
margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  font-size: 17px;
  text-transform: uppercase;
  color: white;
  padding: 10px 17px;
  border-radius: 3px;
}

a.active, a:hover {
  background: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.btn {
  float: right;
  font-size: 30px;
  color: white;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
